<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Global Warming Home</title>
</head>
<body>
    <h1>Надо говорить о климате!</h1>
    <!-- Button with an image inside -->
    <form action="{{ url_for('page2') }}" method="get">
        <button type="submit">
            <img src="{{ url_for('static', filename='ice caps.jpg') }}" alt="Button Image" style="width: 150px; height: 100px;">
            <p>Таяние ледников</p>
        </button>
    </form>
    <form class="new-button" action="{{ url_for('page3') }}" method="get">
        <button type="submit">
            <img src="{{ url_for('static', filename='drout.png') }}" alt="Button Image" style="width: 150px; height: 100px;">
            <p>Засуха</p>
        </button>
    </form>

    
</body>
</html>
