<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Global Warming | Melting Ice caps</title>
</head>

<body>

    <form class="center-button" action="{{ url_for('page1') }}" method="get">
        <button type="submit">Back</button>
    </form>

    <h1>Таяние ледников</h1>

    <img src="{{ url_for('static', filename='ice caps.jpg') }}" alt="image" class="resized-image">

    <p>"Таяние ледников" относится к постепенному сокращению ледниковых шапок  <br>
        Земли, главным образом в Арктике и Антарктике, из-за повышения глобальных температур. <br>
        Это явление является важной частью изменения климата, так как ледниковые шапки <br>
        играют значительную роль в регулировании климата Земли, отражая <br>
        солнечный свет, храня большое количество пресной воды <br>
        и влияя на уровень моря.</p>

    <h2>Почему это часть изменения климата?</h2>

    <p>Таяние ледниковых шапок является не только последствием изменения климата, <br>
        но и фактором, ускоряющим его развитие:</p>
    <ul>
        <li><h3>Повышение уровня моря: </h3><br>
                <p>Когда тают ледники, особенно в Гренландии и Антарктике, в океаны <br>
                поступает большое количество воды. <br>
                Это ведет к повышению уровня моря, что может вызвать затопление  <br>
                побережий, эрозию и утрату природных сред обитания как для людей, <br>
                так и для дикой природы.</p></li>
    </ul>

    <img src="{{ url_for('static', filename='ice caps_2.jpg') }}" alt="image", class="resized-image2">
    
    <ul>
        <li><h3>Потеря альбедо-эффекта:</h3> <br>
                <p>Лед и снег обладают высоким альбедо, то есть отражают значительную <br>
                   часть солнечного света в космос, что помогает охлаждать Землю. По <br>
                   мере таяния льда открываются более темные поверхности, такие как <br>
                   морская вода, которая поглощает больше тепла. Это создает обратную <br>
                   связь, при которой большее поглощение тепла ускоряет таяние, еще <br>
                   больше усиливая глобальное потепление.</p></li>
    </ul>
    <ul>
        <li><h3>Влияние на океанические течения:</h3> <br>
            <p>Таяние полярных льдов изменяет соленость и температуру океана. Эти факторы <br>
               влияют на океанические течения, которые перераспределяют тепло по планете. <br>
               Нарушение этих течений может привести к экстремальным погодным условиям, <br>
               таким как сильные штормы, а также к изменениям климата в различных регионах.</p>
        </li>
    </ul>
    

</body>
</html>
