<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Global Warming | Drout</title>
</head>

<body>

    <form class="center-button" action="{{ url_for('page1') }}" method="get">
        <button type="submit">Back</button>
    </form>

    <h1>Засуха</h1>

    <img src="{{ url_for('static', filename='drout.png') }}" alt="image" class="resized-image">

    <p>"засуха" – это термин, который описывает увеличение частоты, интенсивности и <br>
        продолжительности засух из-за влияния глобального потепления. Засухи – это <br>
        длительные периоды аномально низкого уровня осадков, которые приводят к  <br>
        нехватке воды и засушливым условиям. Глобальное потепление усиливает эти <br>
        условия через несколько взаимосвязанных механизмов, что делает засухи важной <br>
        частью изменения климата.</p>

    <h2>Почему это часть изменения климата?</h2>

    <p>Таяние ледниковых шапок является не только последствием изменения климата, <br>
        но и фактором, ускоряющим его развитие:</p>
    <ul>
        <li><h3>Повышение температуры и испарение: </h3><br>
                <p>Глобальное потепление приводит к увеличению средних температур <br>
                   по всему миру. Более высокие температуры вызывают усиленное <br>
                   испарение воды из почвы, озер, рек и растений, что истощает влагу, <br>
                   необходимую для поддержания экосистем.</p></li>
    </ul>

    <img src="{{ url_for('static', filename='drout2.png') }}" alt="image", class="resized-image2">
    
    <ul>
        <li><h3>Смещение погодных паттернов:</h3> <br>
                <p>Изменение климата приводит к смещению глобальных погодных систем, <br>
                   изменяя атмосферные циркуляции и влияя на струйные течения. Эти <br>
                   сдвиги нарушают привычные циклы выпадения осадков, удлиняя сухие<br>
                   периоды в одних регионах и приводя к избыточным осадкам в других.</p></li>
    </ul>
    <ul>
        <li><h3>Таяние снежного покрова и ледников:</h3> <br>
            <p>В горных и полярных районах таяние снежного покрова и ледников является <br>
               важным источником воды в теплые месяцы. Глобальное потепление сокращает  <br>
               эти ресурсы, так как снег тает раньше весной, что приводит к иссяканию  <br>
               рек раньше в течение года.</p>
        </li>
    </ul>
    

</body>
</html>
